@import 'variables';


* {
    //outline: solid 1px black;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $Very-dark-blue;
    align-items: center;
    justify-content: center;
}

.block {
    width: 300px;
    height: 200px;
    margin-bottom: 12px;
    background-color: $Dark-blue;
}

.first-container {
    margin-top: 32px;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    header {
        background-color: $Blue;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        height: 70%;
        border-radius: $border-radius;

        img {
            width: 80px;
            grid-row: 1 / 3;
            grid-column: 1;
            grid-area: 1 / 1 / 3 / 1;
            align-self: center;
            justify-self: center;
        }

        p {
            font-family: $Rubik;
            font-weight: 400;
            align-self: flex-end;
            color: $Pale-Blue;
        }

        #name {
            font-size: 20px;
            color: white;
            align-self: flex-start;
        }
    }

    nav {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            li > a {
                text-decoration: none;
                color: $Pale-Blue;
                font-family: $Rubik;
                font-weight: 300;
            }
        }
    }
}
